크롤링_구글이미지 다운로드_200418/pictures/
noti.py
.idea/.name
.idea/inspectionProfiles/Project_Default.xml
크롤링_비서만들기_200820/.idea/misc.xml
크롤링_비서만들기_200820/.idea/modules.xml
크롤링_비서만들기_200820/.idea/vcs.xml
크롤링_비서만들기_200820/.idea/workspace.xml
크롤링_비서만들기_200820/.idea/크롤링_비서만들기_200820.iml
크롤링_비서만들기_200820/.idea/inspectionProfiles/profiles_settings.xml
크롤링_비서만들기_200820/.idea/inspectionProfiles/Project_Default.xml
